[Telegram]
# token=YOUR TELEGRAM API TOKEN
# chat-id=YOUR TELEGRAM GROUP CHAT ID
# user-ids=A SPACE SEPARATED LIST OF YOUR TELEGRAM USER IDs

[API]
# ip=YOUR HOST'S IP ADDRESS. YOU WON'T HAVE TO SPECIFY THIS FOR LONG

